$font-color : (
        dark : #222222,
        light: #ffffff,
        lightDark: #999999
);

$font-size : (
        small : 18px,
        medium: 20px,
        large : 25px,
        xlarge : 28px,
);