$basic-color : (
        dark : #222222,
        light: #ffffff,
        lightDark: #999999,
        inputBg : #D8D8D8,
        dim-bg: #000000,
);

$font-size : (
        xsmall: 14px,
        small : 18px,
        medium: 20px,
        large : 25px,
        xlarge : 28px,
);

@mixin common-btn(){
  border-radius: 10px;
  background: map-get($basic-color, dark);
  color: map-get($basic-color, light);
  height: 30px;
  border: none;
}

@mixin common-display(){
  display: flex;
  flex-direction: column;
}

@mixin form-input(){
  margin-top: 0.5em;
  margin-bottom: 1em;
  height: 20px;
}