@use 'variables' as variables;

@mixin common-btn($border, $bgColor, $height, $width,$fontColor){
  border-radius: $border;
  background: map-get(variables.$basic-color, $bgColor);
  height: $height;
  width: $width;
  border: none;
  color: $fontColor;
}

@mixin common-display(){
  display: flex;
  flex-direction: column;
}

@mixin form-input(){
  margin-top: 0.5em;
  margin-bottom: 1em;
  height: 20px;
}